@model FairWeatherFriend.Models.ApplicationUser

@{
    ViewData["Title"] = "Driver";
}

<h1>Driver Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarNumber)
        </dd>
    </dl>
</div>
<dl>
    <h5>Upcoming Races</h5>

    @foreach (ParticipatingDriver entry in Model.ParticipatingDrivers)
    {
        @if (DateTime.Compare(entry.race.TimeOfDay, DateTime.Now) > 0)
        {
            <h6>Race</h6>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(ModelItem => entry.race.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(ModelItem => entry.race.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(ModelItem => entry.race.Track.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(ModelItem => entry.race.Track.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(ModelItem => entry.race.Track.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(ModelItem => entry.race.Track.Location)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(ModelItem => entry.race.TimeOfDay)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(ModelItem => entry.race.TimeOfDay)
            </dd>
        }


    }

    <div>
        <a asp-action="DriverIndex">Back to List</a>
    </div>
