@model IEnumerable<FairWeatherFriend.Models.Race>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Identity
@using FairWeatherFriend.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Races</h1>

@if (SignInManager.IsSignedIn(User) && @UserManager.GetUserAsync(User).Result.isAdmin == true)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form>
    <input type="text" name="searchQuery" />
    <button type="submit">Search by Track Name</button>
</form>
<table class="table table-borderless table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track.Name)
            </td>

            @if (item.isCancelled == true)
            {

                <td class="Cancelled">
                    Cancelled
                </td>
            }
            else
            {
                <td>
                    Race still on
                </td>
            }
            <td>
                @if (SignInManager.IsSignedIn(User) && @UserManager.GetUserAsync(User).Result.isAdmin == true)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>


                }
                @if (SignInManager.IsSignedIn(User) && @UserManager.GetUserAsync(User).Result.isAdmin == true)
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }



                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-action="PastRaces">View Past Races</a>
