@model IEnumerable<FairWeatherFriend.Models.Race>

@{
    ViewData["Title"] = "PastRaces";
}

<h1>Past Races</h1>

<form>
    <input type="text" name="searchQuery" />
    <button type="submit">Search by Track Name</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCancelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCancelled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track.Name)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index">View Upcoming Races</a>


